:root{
    --text-color: #E4E6C3;
    --nav-color: #222725;
    --body-color: #121113;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Mozilla Headline';
    font-size: larger;
    background-color: var(--body-color);
    line-height: 200%;
    margin: 0;
}

.nav-bar{
    display: flex;
    font-size: xx-large;
    gap: 10px;
    background-color: var(--nav-color);
    padding-right: 10px;
    height: 12vh;
}

.nav-bar a{
    margin-top: 200px;
}

.scale{
    transition: transform 0.5s ease;
}

.scale:hover{
    transform: scale(1.2,1.3);
    background-color: var(--body-color);
    border: 1.5px solid black;
}

.btn{
    margin-left: 50%;    
}

header{
    position: sticky;
    top: 0;
}


a{
    text-decoration: none;
    color: var(--text-color);
}


.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    color: var(--text-color);
    font-size: xx-large;
    /* margin: 100px; */
    line-height: 10vh;
    /* flex: 1 2 200px; */
    /* max-width: 1em;
    min-width: 2em; */
}
.projects{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.item{
    border: 2px solid magenta;
    
}

.btn > img{
    cursor: pointer;
}