:root{
    --text-color: #E4E6C3;
    --nav-color: #222725;
    --body-color: #121113;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Mozilla Headline';
    font-size: larger;
    background-color: var(--body-color);
    line-height: 200%;
    margin: 0;
}

.nav-bar{
    display: flex;
    background-color: var(--nav-color);
    gap: 5vw;
    margin: 0;

}

.nav-bar > li{
    list-style: none;
}

.btn{
    margin-left: 50%;    
}

header{
    position: sticky;
    top: 0;

}


a{
    text-decoration: none;
    color: var(--text-color);
}



.intro-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid yellow;
    /* text-align: center; */
    align-items: center;
    color: var(--text-color);
    font-size: xx-large;
    margin: 0 auto;
    line-height: 6vh;
    /* flex: 1 2 200px; */
    max-width: 50%;
    /* min-width: 1em;  */
}

.intro p{
    max-width: 55vw;
}

.projects{
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.item{
    
    border: 2px solid var(--text-color);
    
}

.btn {
    cursor: pointer;
}

footer{
    color: var(--text-color);
    text-align: center;
}